<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://casjay.coffee" target="_blank">
    <img src="https://avatars.githubusercontent.com/u/69495418?s=200&v=4" alt="Coffee!" width="64" height="64"></a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
  </ul>
</nav>
